<div class="profile-list-mainpage-wrapper">
    <div class="inner-flex inner-flex-medium">
        <div class="section-title-main-flex">
            <div class="section-subtitle">
                <h4>
                    Profiles sent by RM <span *ngIf="dataObj.total">({{dataObj.total}})</span>
                </h4>
            </div>
            <!-- <button class="matched-forever-button button-style-primary-outline" (click)="openPreference();">
                <p class="hide-tab-mobile">
                    Preferances
                </p>
                <span class="material-symbols-outlined">
                    tune
                </span>
            </button> -->
        </div>

        <div class="profile-cards-listing-wrapper" *ngIf="isLoading && profileList.length == 0">
            <div class="profile-card-wrapper">
                <div class="profile-card-image relative">
                    <!-- <img src="{{data.profile_pic}}" class="profile-card-img" alt="" *ngIf="data.profile_pic"> -->
                    <img src="https://dummyimage.com/600x800/DEDEDE/DEDEDE" class="profile-card-img" alt="">
                    <div class="dispay-pic-overlay"></div>
                    <div class="visible-tab-mobile mob-abs-profile">
                        <div class="profile-row-flex section-content jsc">
                            <p class="semibold-fonts white-color font-abit-large skeleton-loader">
                                &nbsp;&nbsp;&nbsp;
                            </p>
                            <p class="small-fonts white-color skeleton-loader" style="align-self: center;">
                                &nbsp;&nbsp;&nbsp;
                            </p>
                        </div>
                    </div>
                </div>
                <div class="profile-card-content-block inner-flex inner-flex-small">
                    <!-- div.hide-tabmmobile  -->
                    <div class="hide-tab-mobile">
                        <div class="profile-row-flex section-content jsc">
                            <p class="semibold-fonts font-abit-large skeleton-loader">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                            <p class="small-fonts gray-color skeleton-loader" style="align-self: center;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                        </div>
                    </div>
                    <div class="inner-flex inner-flex-common">
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                stream
                            </span>
                            <p class="widthLast-card-title skeleton-loader">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                        </div>
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                call
                            </span>
                            <a class="widthLast-card-title">
                                <p class="skeleton-loader">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </a>
                        </div>
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                mail
                            </span>
                            <a class="widthLast-card-title" >
                                <p class="skeleton-loader">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </a>
                        </div>
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                school
                            </span>
                            <div class="widthLast-card-title">
                                <p class="inner-flex skeleton-loader">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="profile-row-flex btn-profile-cards">
                        <button class="matched-forever-button button-style-primary interrested-btn">
                            <p class="skeleton-loader">
                                Interested
                            </p>
                            <span class="material-symbols-outlined">
                                check
                            </span>
                        </button>

                        <button class="matched-forever-button button-style-primary not-interrested-btn">
                            <span class="material-symbols-outlined">
                                close
                            </span>
                        </button>




                    </div>

                </div>
            </div>
            <div class="profile-card-wrapper">
                <div class="profile-card-image relative">
                    <!-- <img src="{{data.profile_pic}}" class="profile-card-img" alt="" *ngIf="data.profile_pic"> -->
                    <img src="https://dummyimage.com/600x800/DEDEDE/DEDEDE" class="profile-card-img" alt="">
                    <div class="dispay-pic-overlay"></div>
                    <div class="visible-tab-mobile mob-abs-profile">
                        <div class="profile-row-flex section-content jsc">
                            <p class="semibold-fonts white-color font-abit-large skeleton-loader">
                                &nbsp;&nbsp;&nbsp;
                            </p>
                            <p class="small-fonts white-color skeleton-loader" style="align-self: center;">
                                &nbsp;&nbsp;&nbsp;
                            </p>
                        </div>
                    </div>
                </div>
                <div class="profile-card-content-block inner-flex inner-flex-small">
                    <!-- div.hide-tabmmobile  -->
                    <div class="hide-tab-mobile">
                        <div class="profile-row-flex section-content jsc">
                            <p class="semibold-fonts font-abit-large skeleton-loader">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                            <p class="small-fonts gray-color skeleton-loader" style="align-self: center;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                        </div>
                    </div>
                    <div class="inner-flex inner-flex-common">
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                stream
                            </span>
                            <p class="widthLast-card-title skeleton-loader">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                        </div>
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                call
                            </span>
                            <a class="widthLast-card-title">
                                <p class="skeleton-loader">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </a>
                        </div>
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                mail
                            </span>
                            <a class="widthLast-card-title" >
                                <p class="skeleton-loader">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </a>
                        </div>
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                school
                            </span>
                            <div class="widthLast-card-title">
                                <p class="inner-flex skeleton-loader">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="profile-row-flex btn-profile-cards">
                        <button class="matched-forever-button button-style-primary interrested-btn">
                            <p class="skeleton-loader">
                                Interested
                            </p>
                            <span class="material-symbols-outlined">
                                check
                            </span>
                        </button>

                        <button class="matched-forever-button button-style-primary not-interrested-btn">
                            <span class="material-symbols-outlined">
                                close
                            </span>
                        </button>




                    </div>

                </div>
            </div>
            <div class="profile-card-wrapper">
                <div class="profile-card-image relative">
                    <!-- <img src="{{data.profile_pic}}" class="profile-card-img" alt="" *ngIf="data.profile_pic"> -->
                    <img src="https://dummyimage.com/600x800/DEDEDE/DEDEDE" class="profile-card-img" alt="">
                    <div class="dispay-pic-overlay"></div>
                    <div class="visible-tab-mobile mob-abs-profile">
                        <div class="profile-row-flex section-content jsc">
                            <p class="semibold-fonts white-color font-abit-large skeleton-loader">
                                &nbsp;&nbsp;&nbsp;
                            </p>
                            <p class="small-fonts white-color skeleton-loader" style="align-self: center;">
                                &nbsp;&nbsp;&nbsp;
                            </p>
                        </div>
                    </div>
                </div>
                <div class="profile-card-content-block inner-flex inner-flex-small">
                    <!-- div.hide-tabmmobile  -->
                    <div class="hide-tab-mobile">
                        <div class="profile-row-flex section-content jsc">
                            <p class="semibold-fonts font-abit-large skeleton-loader">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                            <p class="small-fonts gray-color skeleton-loader" style="align-self: center;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                        </div>
                    </div>
                    <div class="inner-flex inner-flex-common">
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                stream
                            </span>
                            <p class="widthLast-card-title skeleton-loader">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                        </div>
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                call
                            </span>
                            <a class="widthLast-card-title">
                                <p class="skeleton-loader">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </a>
                        </div>
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                mail
                            </span>
                            <a class="widthLast-card-title" >
                                <p class="skeleton-loader">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </a>
                        </div>
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                school
                            </span>
                            <div class="widthLast-card-title">
                                <p class="inner-flex skeleton-loader">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="profile-row-flex btn-profile-cards">
                        <button class="matched-forever-button button-style-primary interrested-btn">
                            <p class="skeleton-loader">
                                Interested
                            </p>
                            <span class="material-symbols-outlined">
                                check
                            </span>
                        </button>

                        <button class="matched-forever-button button-style-primary not-interrested-btn">
                            <span class="material-symbols-outlined">
                                close
                            </span>
                        </button>




                    </div>

                </div>
            </div>
            <div class="profile-card-wrapper">
                <div class="profile-card-image relative">
                    <!-- <img src="{{data.profile_pic}}" class="profile-card-img" alt="" *ngIf="data.profile_pic"> -->
                    <img src="https://dummyimage.com/600x800/DEDEDE/DEDEDE" class="profile-card-img" alt="">
                    <div class="dispay-pic-overlay"></div>
                    <div class="visible-tab-mobile mob-abs-profile">
                        <div class="profile-row-flex section-content jsc">
                            <p class="semibold-fonts white-color font-abit-large skeleton-loader">
                                &nbsp;&nbsp;&nbsp;
                            </p>
                            <p class="small-fonts white-color skeleton-loader" style="align-self: center;">
                                &nbsp;&nbsp;&nbsp;
                            </p>
                        </div>
                    </div>
                </div>
                <div class="profile-card-content-block inner-flex inner-flex-small">
                    <!-- div.hide-tabmmobile  -->
                    <div class="hide-tab-mobile">
                        <div class="profile-row-flex section-content jsc">
                            <p class="semibold-fonts font-abit-large skeleton-loader">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                            <p class="small-fonts gray-color skeleton-loader" style="align-self: center;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                        </div>
                    </div>
                    <div class="inner-flex inner-flex-common">
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                stream
                            </span>
                            <p class="widthLast-card-title skeleton-loader">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                        </div>
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                call
                            </span>
                            <a class="widthLast-card-title">
                                <p class="skeleton-loader">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </a>
                        </div>
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                mail
                            </span>
                            <a class="widthLast-card-title" >
                                <p class="skeleton-loader">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </a>
                        </div>
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                school
                            </span>
                            <div class="widthLast-card-title">
                                <p class="inner-flex skeleton-loader">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="profile-row-flex btn-profile-cards">
                        <button class="matched-forever-button button-style-primary interrested-btn">
                            <p class="skeleton-loader">
                                Interested
                            </p>
                            <span class="material-symbols-outlined">
                                check
                            </span>
                        </button>

                        <button class="matched-forever-button button-style-primary not-interrested-btn">
                            <span class="material-symbols-outlined">
                                close
                            </span>
                        </button>




                    </div>

                </div>
            </div>
            <div class="profile-card-wrapper">
                <div class="profile-card-image relative">
                    <!-- <img src="{{data.profile_pic}}" class="profile-card-img" alt="" *ngIf="data.profile_pic"> -->
                    <img src="https://dummyimage.com/600x800/DEDEDE/DEDEDE" class="profile-card-img" alt="">
                    <div class="dispay-pic-overlay"></div>
                    <div class="visible-tab-mobile mob-abs-profile">
                        <div class="profile-row-flex section-content jsc">
                            <p class="semibold-fonts white-color font-abit-large skeleton-loader">
                                &nbsp;&nbsp;&nbsp;
                            </p>
                            <p class="small-fonts white-color skeleton-loader" style="align-self: center;">
                                &nbsp;&nbsp;&nbsp;
                            </p>
                        </div>
                    </div>
                </div>
                <div class="profile-card-content-block inner-flex inner-flex-small">
                    <!-- div.hide-tabmmobile  -->
                    <div class="hide-tab-mobile">
                        <div class="profile-row-flex section-content jsc">
                            <p class="semibold-fonts font-abit-large skeleton-loader">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                            <p class="small-fonts gray-color skeleton-loader" style="align-self: center;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                        </div>
                    </div>
                    <div class="inner-flex inner-flex-common">
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                stream
                            </span>
                            <p class="widthLast-card-title skeleton-loader">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                        </div>
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                call
                            </span>
                            <a class="widthLast-card-title">
                                <p class="skeleton-loader">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </a>
                        </div>
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                mail
                            </span>
                            <a class="widthLast-card-title" >
                                <p class="skeleton-loader">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </a>
                        </div>
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                school
                            </span>
                            <div class="widthLast-card-title">
                                <p class="inner-flex skeleton-loader">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="profile-row-flex btn-profile-cards">
                        <button class="matched-forever-button button-style-primary interrested-btn">
                            <p class="skeleton-loader">
                                Interested
                            </p>
                            <span class="material-symbols-outlined">
                                check
                            </span>
                        </button>

                        <button class="matched-forever-button button-style-primary not-interrested-btn">
                            <span class="material-symbols-outlined">
                                close
                            </span>
                        </button>




                    </div>

                </div>
            </div>
            <div class="profile-card-wrapper">
                <div class="profile-card-image relative">
                    <!-- <img src="{{data.profile_pic}}" class="profile-card-img" alt="" *ngIf="data.profile_pic"> -->
                    <img src="https://dummyimage.com/600x800/DEDEDE/DEDEDE" class="profile-card-img" alt="">
                    <div class="dispay-pic-overlay"></div>
                    <div class="visible-tab-mobile mob-abs-profile">
                        <div class="profile-row-flex section-content jsc">
                            <p class="semibold-fonts white-color font-abit-large skeleton-loader">
                                &nbsp;&nbsp;&nbsp;
                            </p>
                            <p class="small-fonts white-color skeleton-loader" style="align-self: center;">
                                &nbsp;&nbsp;&nbsp;
                            </p>
                        </div>
                    </div>
                </div>
                <div class="profile-card-content-block inner-flex inner-flex-small">
                    <!-- div.hide-tabmmobile  -->
                    <div class="hide-tab-mobile">
                        <div class="profile-row-flex section-content jsc">
                            <p class="semibold-fonts font-abit-large skeleton-loader">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                            <p class="small-fonts gray-color skeleton-loader" style="align-self: center;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                        </div>
                    </div>
                    <div class="inner-flex inner-flex-common">
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                stream
                            </span>
                            <p class="widthLast-card-title skeleton-loader">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                        </div>
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                call
                            </span>
                            <a class="widthLast-card-title">
                                <p class="skeleton-loader">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </a>
                        </div>
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                mail
                            </span>
                            <a class="widthLast-card-title" >
                                <p class="skeleton-loader">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </a>
                        </div>
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                school
                            </span>
                            <div class="widthLast-card-title">
                                <p class="inner-flex skeleton-loader">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="profile-row-flex btn-profile-cards">
                        <button class="matched-forever-button button-style-primary interrested-btn">
                            <p class="skeleton-loader">
                                Interested
                            </p>
                            <span class="material-symbols-outlined">
                                check
                            </span>
                        </button>

                        <button class="matched-forever-button button-style-primary not-interrested-btn">
                            <span class="material-symbols-outlined">
                                close
                            </span>
                        </button>




                    </div>

                </div>
            </div>
            <div class="profile-card-wrapper">
                <div class="profile-card-image relative">
                    <!-- <img src="{{data.profile_pic}}" class="profile-card-img" alt="" *ngIf="data.profile_pic"> -->
                    <img src="https://dummyimage.com/600x800/DEDEDE/DEDEDE" class="profile-card-img" alt="">
                    <div class="dispay-pic-overlay"></div>
                    <div class="visible-tab-mobile mob-abs-profile">
                        <div class="profile-row-flex section-content jsc">
                            <p class="semibold-fonts white-color font-abit-large skeleton-loader">
                                &nbsp;&nbsp;&nbsp;
                            </p>
                            <p class="small-fonts white-color skeleton-loader" style="align-self: center;">
                                &nbsp;&nbsp;&nbsp;
                            </p>
                        </div>
                    </div>
                </div>
                <div class="profile-card-content-block inner-flex inner-flex-small">
                    <!-- div.hide-tabmmobile  -->
                    <div class="hide-tab-mobile">
                        <div class="profile-row-flex section-content jsc">
                            <p class="semibold-fonts font-abit-large skeleton-loader">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                            <p class="small-fonts gray-color skeleton-loader" style="align-self: center;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                        </div>
                    </div>
                    <div class="inner-flex inner-flex-common">
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                stream
                            </span>
                            <p class="widthLast-card-title skeleton-loader">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                        </div>
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                call
                            </span>
                            <a class="widthLast-card-title">
                                <p class="skeleton-loader">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </a>
                        </div>
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                mail
                            </span>
                            <a class="widthLast-card-title" >
                                <p class="skeleton-loader">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </a>
                        </div>
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                school
                            </span>
                            <div class="widthLast-card-title">
                                <p class="inner-flex skeleton-loader">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="profile-row-flex btn-profile-cards">
                        <button class="matched-forever-button button-style-primary interrested-btn">
                            <p class="skeleton-loader">
                                Interested
                            </p>
                            <span class="material-symbols-outlined">
                                check
                            </span>
                        </button>

                        <button class="matched-forever-button button-style-primary not-interrested-btn">
                            <span class="material-symbols-outlined">
                                close
                            </span>
                        </button>




                    </div>

                </div>
            </div>
            <div class="profile-card-wrapper">
                <div class="profile-card-image relative">
                    <!-- <img src="{{data.profile_pic}}" class="profile-card-img" alt="" *ngIf="data.profile_pic"> -->
                    <img src="https://dummyimage.com/600x800/DEDEDE/DEDEDE" class="profile-card-img" alt="">
                    <div class="dispay-pic-overlay"></div>
                    <div class="visible-tab-mobile mob-abs-profile">
                        <div class="profile-row-flex section-content jsc">
                            <p class="semibold-fonts white-color font-abit-large skeleton-loader">
                                &nbsp;&nbsp;&nbsp;
                            </p>
                            <p class="small-fonts white-color skeleton-loader" style="align-self: center;">
                                &nbsp;&nbsp;&nbsp;
                            </p>
                        </div>
                    </div>
                </div>
                <div class="profile-card-content-block inner-flex inner-flex-small">
                    <!-- div.hide-tabmmobile  -->
                    <div class="hide-tab-mobile">
                        <div class="profile-row-flex section-content jsc">
                            <p class="semibold-fonts font-abit-large skeleton-loader">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                            <p class="small-fonts gray-color skeleton-loader" style="align-self: center;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                        </div>
                    </div>
                    <div class="inner-flex inner-flex-common">
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                stream
                            </span>
                            <p class="widthLast-card-title skeleton-loader">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                        </div>
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                call
                            </span>
                            <a class="widthLast-card-title">
                                <p class="skeleton-loader">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </a>
                        </div>
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                mail
                            </span>
                            <a class="widthLast-card-title" >
                                <p class="skeleton-loader">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </a>
                        </div>
                        <div class="profile-row-flex section-text">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                school
                            </span>
                            <div class="widthLast-card-title">
                                <p class="inner-flex skeleton-loader">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="profile-row-flex btn-profile-cards">
                        <button class="matched-forever-button button-style-primary interrested-btn">
                            <p class="skeleton-loader">
                                Interested
                            </p>
                            <span class="material-symbols-outlined">
                                check
                            </span>
                        </button>

                        <button class="matched-forever-button button-style-primary not-interrested-btn">
                            <span class="material-symbols-outlined">
                                close
                            </span>
                        </button>




                    </div>

                </div>
            </div>

            
        </div>
        <div class="profile-cards-listing-wrapper" *ngIf="!isLoading && profileList.length > 0">
            <div class="profile-card-wrapper" *ngFor="let data of profileList; let i = index">
                <a routerLink="/preview/{{data.candidate_id}}" class="profile-card-image relative">
                    <img src="{{data.profile_details.profile_pic}}" class="profile-card-img" alt=""
                        *ngIf="data.profile_details.profile_pic">
                    <img src="assets/images/female.png" class="profile-card-img" alt=""
                        *ngIf="!data.profile_details.profile_pic && data.profile_details.gender == 'Female'">
                    <img src="assets/images/male.png" class="profile-card-img" alt=""
                        *ngIf="!data.profile_details.profile_pic && data.profile_details.gender == 'Male'">
                    <!-- <img src="https://dummyimage.com/600x800/DEDEDE/DEDEDE" class="profile-card-img" alt="" *ngIf="!data.profile_details.profile_pic"> -->
                    <div class="dispay-pic-overlay"></div>
                    <div class="visible-tab-mobile mob-abs-profile">
                        <div class="profile-row-flex section-content jsc"
                            *ngIf="data.profile_details.first_name && data.profile_details.last_name">
                            <p class="semibold-fonts white-color font-abit-large">
                                {{data.profile_details.first_name}} {{data.profile_details.last_name}}
                            </p>
                            <p class="small-fonts white-color" style="align-self: center;"
                                *ngIf="data.profile_details.basicInfo.age">
                                Age - {{data.profile_details.basicInfo.age}}
                            </p>
                        </div>
                    </div>
                </a>
                <div class="profile-card-content-block inner-flex inner-flex-small">
                    <!-- div.hide-tabmmobile  -->
                    <div class="hide-tab-mobile">
                        <div class="profile-row-flex section-content jsc"
                            *ngIf="data.profile_details.first_name && data.profile_details.last_name">
                            <p class="semibold-fonts font-abit-large">
                                {{data.profile_details.first_name}} {{data.profile_details.last_name}}
                            </p>
                            <p class="small-fonts gray-color" style="align-self: center;"
                                *ngIf="data.profile_details.basicInfo.age">
                                Age - {{data.profile_details.basicInfo.age}}
                            </p>
                        </div>
                    </div>
                    <div class="inner-flex inner-flex-common">
                        <div class="profile-row-flex section-text" *ngIf="data.profile_details.caste_name">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                stream
                            </span>
                            <p class="widthLast-card-title">
                                {{data.profile_details.caste_name}}
                            </p>
                        </div>
                        <div class="profile-row-flex section-text" *ngIf="data.profile_details.phone">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                call
                            </span>
                            <a href="tel:{{data.profile_details.phone}}" class="widthLast-card-title">
                                <p class="">
                                    {{data.profile_details.phone}}
                                </p>
                            </a>
                        </div>
                        <div class="profile-row-flex section-text" *ngIf="data.profile_details.email">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                mail
                            </span>
                            <a class="widthLast-card-title" href="mailto:{{data.profile_details.email}}">
                                <p>
                                    {{data.profile_details.email}}
                                </p>
                            </a>
                        </div>
                        <div class="profile-row-flex section-text" *ngIf="data.profile_details.education.length > 0">
                            <span class="material-symbols-outlined gray-color material-width-small">
                                school
                            </span>
                            <div class="widthLast-card-title">
                                <p class="inner-flex" *ngFor="let education of data.profile_details.education">
                                    {{education.education_name}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="profile-row-flex btn-profile-cards">
                        <!-- <button class="matched-forever-button button-style-primary" routerLink="/preview/{{data.profile_details.id}}">
                            <span class="material-symbols-outlined">
                                visibility
                            </span>
                            <p>
                                View Profile
                            </p>
                        </button> -->
                        <button class="matched-forever-button button-style-primary interrested-btn"
                            (click)="selectOption('Interested' , data.candidate_id);">
                            <p>
                                Interested
                            </p>
                            <span class="material-symbols-outlined">
                                check
                            </span>
                        </button>

                        <button class="matched-forever-button button-style-primary not-interrested-btn"
                            (click)="selectOption('Rejected' , data.candidate_id)">
                            <span class="material-symbols-outlined">
                                close
                            </span>
                        </button>



                    </div>

                </div>
            </div>
        </div>
    </div>
</div>






