.view_content_flex {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-title {
    font-size: 18px;
}

.main_text p {
    font-weight: 600;
    font-size: 13px;
}

.child_text p {
    line-height: 1;
    margin: 0;
    font-size: 13px;
}

.information_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}

.my-profile-detail-card img {
    object-position: top;
}

.media_images_grid {
    grid-template-columns: repeat(6, 1fr);
}

.card-title-inner {
    font-weight: 600;
    font-size: 1rem;
    margin: 0;
    color: #515365;
}

.multi_info_flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.media_images img {
    height: 248px;
    width: 100%;
    object-fit: cover;
}

.profile_image_view img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.back-button {
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
    gap: 5px;
    align-items: center;
}

.preview_header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.preview_header h4 {
    margin: 0;
}

/* Active tab css */

.tabs-master {
    padding-bottom: 2rem;
}

.tabs {
    padding: 1rem;
    font-size: 1.3rem;
    cursor: pointer;
    border-left: 2px solid transparent;
    transition: all ease 0.4s;
}

.tabs.active {
    border-left: 2px solid red;
    transition: all ease 0.4s;
    color: red;
}

.activeBody {
    background-color: #fff;
    padding: 2rem 1rem;
    margin-top: 2rem;
}

.categoryImageWrapper {
    padding-left: 0;
}

.categoryImageWrapper > img {
    width: 100px;
    margin: 0 15px 0 0;
    object-fit: contain;
}

.categoryImageWrapper > img,
.categoryImageWrapper > span {
    vertical-align: middle;
    display: inline-block;
}

.check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

.button .btn {
    margin: 0;
    padding: 0;
    padding: 0.5rem 1rem;
}

/* Styles for the popup overlay */
.popup-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99999999;
    /* Semi-transparent black background */
}

/* Styles for the popup content */
.popup {
    width: 900px;
    background-color: #fff;
    /* White background for the popup */
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup label {
    padding: 1rem 0rem;
    color: #333;
    font-weight: 600;
}

.popup .button {
    width: 23%;
    margin: 0 auto;
    margin-top: 1rem;
}

.button .btn {
    width: 100%;
}

.card-heading span {
    float: right;
    margin-top: -2.5rem;
    cursor: pointer;
}

.preferance-selection {
    display: flex;
    align-items: center;
}

.preferance-selection label {
    padding-left: 0.5rem;
    font-weight: 400;
    color: #515365;
}

.red {
    color: red;
}

.green {
    color: green;
}

.popup_status {
    width: 400px;
    background-color: #fff;
    /* White background for the popup */
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Code for profile history pop up */

.history-porfile-overlay {
    width: 30%;
    position: fixed;
    z-index: 999999999999999999999999999;
    height: 100svh;
    top: 0;
    right: -100%;
    background-color: #fff;
    transition: all 0.6s ease;
}

.history-porfile-overlay.history-porfile-overlay-active {
    right: 0;
    transition: all 0.6s ease;
}

.black-overlay-histroy {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    z-index: 99999999999999999999999;
}

.followup-history .plus-followup-flex button {
    background-color: #03a6ff;
    color: #fff;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
}

.form-control-owl[readonly] {
    background-color: #fff !important;
    opacity: 1;
}

.plus {
    border-radius: 50%;
    border: 1px solid #333;
    padding: 0;
    font-size: 1.5rem;
    /* aspect-ratio: 1; */
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: grid;
    place-items: center;
    text-align: center;
}

.plus-followup-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5rem;
    width: 70%;
    justify-content: space-between;
    margin: 0 auto;
    transform: translate(0px, 0px);
}

.plus-followup-flex .button {
    width: 67%;
}

.plus-followup-flex .button button {
    margin: 0 !important;
}

.history-card {
    padding: 1rem 1.5rem;
    /* padding-bottom: 0; */
}

.history-card .date {
    position: relative;
    width: 30%;
    height: 70px;
    border: 1px solid #333;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    background-color: #ffffff;
}

.history-card {
    position: relative;
}

.history-card::after {
    position: absolute;
    bottom: 0;
    left: 18.6%;
    transform: translateX(-50%);
    content: "";
    width: 1px;
    height: 100%;
    z-index: 1 !important;
    background-color: #000000;
    top: 0;
}

.history-card:last-child:after {
    height: 74px;
    bottom: 30px;
}

.history-card p {
    padding: 0;
    margin: 0;
}

.line-container {
    display: flex;
    gap: 1rem;
    position: relative;
    z-index: 2;
}

.lead-status {
    width: 50%;
    padding-left: 1rem;
}

.detail-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 12px;
    box-shadow: 2px 4px 6px #00000020;
}

@media (max-width: 991px) {
    .card {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .information_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
}

@media (max-width: 767px) {
    .information_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .content-box-main {
        padding: 14px;
    }
}

.web-profile {
    display: block !important;
    width: 75%;
    margin: 0 auto;
}

.mob-profile {
    display: none !important;
}

.my-profile-detail-wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--small-gap-size);
    align-items: start;
    flex-wrap: wrap;
}

.my-profile-detail-card {
    background-color: var(--white-color);
    box-shadow: rgba(37, 83, 185, 0.1) 0px 2px 6px;
    padding: var(--small-gap-size);
    border-radius: 0.75rem;
}

.left-profile-wrapper {
    width: calc(100% - 75% - 0.75rem);
    flex-basis: calc(100% - 75% - 0.75rem);
    position: sticky;
    top: 10%;
}

.myprofile-image-wrapper {
    width: 100%;
    flex-basis: 100%;
    padding: 0 !important;
    overflow: hidden;
    background-color: #dedede;
    height: 45vh;
}

.myprofile-image-wrapper img {
    height: 45vh;
    object-fit: contain;
    object-position: center;
    background-color: #f5f5f5;
}

.detail-wrapper-grid-3 {
    display: flex;
    gap: var(--medium-gap-size);
    align-items: start;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: var(--small-gap-size);
}

.detail-wrapper-grid-3 > div {
    width: calc(100% / 3 - 2rem);
    flex-basis: calc(100% / 3 - 2rem);
    max-width: calc(100% / 3 - 2rem);
}

.content-title-p {
    opacity: 0.75;
}

.section-content-detail-flex {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
}

.profile-basic-detail-wrapper {
    width: calc(100% - 25% - 0.75rem);
    flex-basis: calc(100% - 25% - 0.75rem);
}

.bio-data-btn-veiwprofile {
    margin-left: auto;
    align-self: end;
    justify-self: end;
}

.btns-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--small-gap-size);
}

.w100block {
    width: 100%;
    max-width: 100%;
}

.inner-social-profilelinks ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: var(--common-gap-size);
}

.detail-wrapper-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--small-gap-size);
}

.bio_data {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem 1rem;
    /* display: flex; */
    text-align: center;
    /* width: 100px; */
    /* height: 20px; */
    border-radius: 6px;
    cursor: pointer;
    background-color: #f9e5dd;
}

.bio_data span {
    font-size: 16px;
}

.addess-wrapper span {
    color: var(--primary-color) !important;
}
.whitesp-no-wrap {
    white-space: nowrap !important;
}

/*  */

.toggle-btn {
    padding: 8px 16px;
    /* border-radius: 5px; */
    border-radius: 2.5rem;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: none !important;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.toggle-btn {
    background-color: #28a745; /* Green for Publish */
    color: white;
}

.toggle-btn.active {
    background-color: #dc3545; /* Red for Unpublish */
    color: white;
}

@media only screen and (max-width: 1750px) {
    .detail-wrapper-grid-3 > div {
        width: calc(100% / 3 - 2rem);
        flex-basis: calc(100% / 3 - 2rem);
        max-width: calc(100% / 3 - 2rem);
    }

    .myprofile-image-wrapper,
    .myprofile-image-wrapper img {
        height: 30vh;
        background-color: #dedede;
    }
}

@media only screen and (max-width: 1280px) {
    .detail-wrapper-grid-3 > div {
        width: calc(100% / 2 - 1.5rem);
        flex-basis: calc(100% / 2 - 1.5rem);
        max-width: calc(100% / 2 - 1.5rem);
    }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 991px) {
    .my-profile-detail-wrapper {
        display: flex;
        flex-direction: column;
        /* background-color: #e6d6c596; */
        gap: var(--small-gap-size);
        align-items: start;
        flex-wrap: nowrap;
    }

    /* .main_wrapper {
        background-color: #e6d6c5 !important;
    } */

    .left-profile-wrapper {
        width: 100%;
        flex-basis: 100%;
        position: relative;
        position: relative;
        top: unset;
        margin-bottom: var(--small-gap-size);
    }

    .profile-basic-detail-wrapper {
        width: 100%;
        flex-basis: 100%;
    }

    .section-text p,
    .section-text a,
    .section-text p span {
        font-size: 1.25rem;
        line-height: 1.25 !important;
    }

    .webo-icon-flex-card .icon-web-wrapper {
        width: 1.75rem;
        flex-basis: 1.75rem;
    }

    .webo-icon-flex-card > div:nth-child(2) {
        width: calc(100% - 2.5rem);
        flex-basis: calc(100% - 2.5rem);
    }

    .bio_data a {
        font-size: 13px !important;
    }

    .bio_data span {
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 767px) {
    .detail-wrapper-grid-3 {
        gap: 0;
        row-gap: 0;
    }

    .detail-wrapper-grid-3 > div {
        width: calc(100%);
        flex-basis: calc(100%);
        max-width: calc(100%);
    }

    .detail-wrapper-grid-3 .content-title-p {
        line-height: 1 !important;
        opacity: 0.5 !important;
    }

    .webo-icon-flex-card100www {
        width: 100% !important;
        flex-basis: 100% !important;
        max-width: 100% !important;
    }

    .detail-wrapper-grid-3 .content-title-p span.material-symbols-outlined {
        font-size: 1.5rem;
        transform: translateY(2px);
        color: #979797;
        line-height: 1 !important;
    }

    .section-content-detail-flex {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1.5rem;
        row-gap: 0.25rem;
        align-items: start;
        padding: 1.25rem 0 !important;
        border-top: 1px solid #97979750;
    }

    .webo-icon-flex-card {
        padding-bottom: 1.5rem !important;
    }

    .left-alter-content-border {
        padding-left: 1.5rem;
        border-left: 1px solid #97979750;
    }

    .row-flex-header-subtitle {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        align-items: center;
    }

    .myprofile-image-wrapper,
    .myprofile-image-wrapper img {
        height: 65vh;
        background-color: #dedede;
    }

    .comma-seprate-flex {
        display: flex;
        flex-direction: row;
        gap: 0.25rem;
    }

    .comma-seprate-flex > p:last-child > span {
        display: none;
    }

    .my-profile-detail-card {
        border-radius: 1.75rem;
    }

    .row-flex-header-subtitle span.material-symbols-outlined {
        font-size: 17px;
    }

    .section-content-detail-flex:first-child {
        border-top: 0px;
    }

    .section-content-detail-flex:last-child {
        padding-bottom: 0 !important;
        padding: 0 !important;
        border: 0 !important;
    }

    .web-profile {
        display: block !important;
        width: 100%;
        margin: 0 auto;
    }

    .mob-profile {
        display: none !important;
    }

    .detail-wrapper-grid-2 {
        display: grid;
        grid-template-columns: 100%;
        gap: var(--small-gap-size);
    }

    .detail-wrapper-grid-2 .section-content-detail-flex,
    .detail-wrapper-grid-2 .section-content-detail-flex:first-child {
        flex-direction: column;
        padding-bottom: 0;
    }

    .detail-wrapper-grid-3 .section-content-detail-flex:first-child,
    .detail-wrapper-grid-2 .section-content-detail-flex:first-child {
        padding-top: 0 !important;
    }

    .flex-row-compulsory {
        flex-direction: row !important;
    }

    .w75imp {
        width: 75% !important;
    }

    .fullwidth-rowtitle {
        width: 100%;
        flex-basis: 100%;
        font-size: 1.15rem !important;
        font-family: "Work-Sans-SemiBold" !important;
        opacity: 0.5;
    }

    .width-fitonly-row {
        width: calc(100% - 3rem);
        flex-basis: calc(100% - 3rem);
    }

    .w100-2grid-wrapper {
        width: calc(100%);
        flex-basis: calc(100%);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .toggle-btn {
        padding: 4px 16px;
        font-size: 12px;
    }

    /* 18/03/2025 */
}
/* swiper start */

.swiper-button-next,
.swiper-button-prev {
    background-color: #ff5733;
    display: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: #ff4500;
    display: none;
}

.swiper-button-next {
    right: 10px;
    z-index: 10;
    display: none;

    /* background-image: url("src/assets/index.png"); */
}

.swiper-button-prev {
    left: 10px;
    z-index: 10;
    display: none;
    /* background-image: url("src/assets/index.png"); */
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}
/* swiper end */
::ng-deep .fancybox__content {
    width: 100% !important;
    height: 100% !important;
}

.overlay-pin {
    position: fixed;
    z-index: 9999;
    background-color: rgb(255 255 255 / 50%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(8px);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.pin-popup-connent {
    position: fixed;
    width: 25vw;
    height: fit-content;
    z-index: 99999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px;
    padding: 2rem;
    -webkit-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.15);
    background-color: var(--white-color);
    border-radius: 1rem;
}