<ng-container *ngIf="chatUsers.length > 0; else noUsers">
    <div class="main-container">
        <div class="chat-grid-wrapper">
            <div class="chat-profile-list-wrapper">
                <div class="chat-user" *ngFor="let user of chatUsers" (click)="selectUsered(user)"
                    [class.active]="selectedUser.candidate_id == user.candidate_id">
                    <div class="name-wrapper">
                        <div class="user-avatar">
                            <img [src]="user.candidate_info.profile_pic || 'assets/images/avatar-placeholder.png'"
                                alt="User" />
                        </div>
                        <div class="user-details">
                            <h5>{{ user.candidate_info.first_name }}</h5>
                            <div class="lastMessage">
                                <p *ngIf="userLastMessages[user.candidate_id]">
                                    {{ userLastMessages[user.candidate_id].message}}

                                </p>
                                <p>{{ userLastMessages[user.candidate_id].time}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="chat-area-section-wrapper">
                <div class="chat-wrapper " style="position: relative;" id="chatlistPage" *ngIf="selectedUser.user_id">
                    <!-- Profile window -->
                    <div class="chatProfileStrip" *ngIf="selectedUser && selectedUser.candidate_info">
                        <div class="flex-row">
                            <!-- {{user}} -->
                            <img class="profileImg"
                                [src]="selectedUser.candidate_info.profile_pic || 'assets/images/avatar-placeholder.png'"
                                alt="User" />
                            <div>

                                <p class="profileName">
                                    {{selectedUser.candidate_info.first_name}} {{selectedUser.candidate_info.last_name}}
                                </p>
                                <p>
                                    <!-- {{ userLastMessages[selectedUser.candidate_id].time}} -->
                                </p>

                            </div>
                        </div>
                    </div>

                    <!-- Message Area -->
                    <div class="chat-container-list">
                        <!-- Display 'No Comments' if the chat list is empty -->
                        <div *ngIf="existingChatList.length === 0" class="no-comments">
                            <p>No Messages</p>
                        </div>

                        <!-- Display grouped messages for each day -->
                        <div *ngFor="let date of groupedChatList.other | keyvalue" class="chat-day">
                            <div class="chat-day-header">
                                <p>{{ date.value.formatted_date }}</p>
                            </div>
                            <div *ngFor="let message of date.value.records" class="chat-message">
                                <div class="chat-message-body">
                                    <pre>{{ message.message }}</pre>
                                    <span class="message-time">{{ (message.time.seconds * 1000) | date:'hh:mm a'
                                        }}</span>
                                </div>
                                <!-- <div class="chat-message-header">
                                    <span class="user-name">{{ message.user_name }}</span>
                                    <span class="message-time">{{ (message.time.seconds * 1000) | date:'hh:mm a' }}</span>
                                </div> -->

                            </div>
                        </div>

                        <!-- Display 'Yesterday' messages -->
                        <div *ngIf="groupedChatList.yesterday.length > 0" class="chat-day">
                            <div class="chat-day-header">
                                <p>Yesterday</p>
                            </div>
                            <div *ngFor="let message of groupedChatList.yesterday" class="chat-message">
                                <!-- <div class="chat-message-body">
                                    <pre>{{ message.message }}</pre>
                                    <img *ngIf="message.profile_picture" [src]="message.profile_picture" alt="User Profile"
                                        class="user-profile-img">
                                </div> -->
                                <div class="chat-message-body"
                                    [ngClass]="{ 'right': message.user_id === loggedInUser.id, 'left': message.user_id !== loggedInUser.id }">
                                    <pre>{{ message.message }}</pre>
                                    <span class="message-time">{{ (message.time.seconds * 1000) | date:'hh:mm a'
                                        }}</span>
                                </div>
                                <!-- <div class="chat-message-header">
                                    <span class="user-name">{{ message.user_name }}</span>
                                    <span class="message-time">{{ (message.time.seconds * 1000) | date:'hh:mm a' }}</span>
                                </div> -->

                            </div>
                        </div>

                        <!-- Display 'Today' messages -->
                        <div *ngIf="groupedChatList.today.length > 0" class="chat-day">
                            <div class="chat-day-header">
                                <p>Today</p>
                            </div>
                            <div *ngFor="let message of groupedChatList.today" class="chat-message">
                                <!-- <div class="chat-message-body">
                                    <pre>{{ message.message }}</pre>
                
                                    
                                    <img *ngIf="message.profile_picture" [src]="message.profile_picture" alt="User Profile"
                                        class="user-profile-img">
                                    <ng-container *ngIf="message.user_id === senderId">
                                        <span *ngIf="message.read_by && message.read_by.includes(receiverId)"
                                            class="tick read">✓✓</span>
                
                                        <span
                                            *ngIf="message.delivered_to && message.delivered_to.includes(receiverId) && (!message.read_by || !message.read_by.includes(receiverId))"
                                            class="tick">✓✓</span>
                
                                        <span *ngIf="!message.delivered_to || !message.delivered_to.includes(receiverId)"
                                            class="tick">✓</span>
                                    </ng-container>
                
                
                                </div> -->

                                <div class="chat-message-body"
                                    [ngClass]="{ 'right': message.user_id === loggedInUser.id, 'left': message.user_id !== loggedInUser.id }">
                                    <pre>{{ message.message }}</pre>
                                    <span class="message-time">{{ (message.time.seconds * 1000) | date:'hh:mm a'
                                        }}</span>
                                </div>

                                <!-- <div class="chat-message-header">
                                    <span class="user-name">{{ message.user_name }}</span>
                                    <span class="message-time">{{ (message.time.seconds * 1000) | date:'hh:mm a' }}</span>
                                </div> -->

                            </div>

                        </div>

                    </div>

                    <!-- Chat Input Area -->
                    <!-- *ngIf="existingChatList.length > 0" -->
                    <div class="chat-input-area">
                        <!-- <p *ngIf="isTyping">Typing... </p> -->
                        <div class="typingIndicatorContainer" *ngIf="isTyping">
                            <div class="typingIndicatorBubble">
                                <div class="typingIndicatorBubbleDot"></div>
                                <div class="typingIndicatorBubbleDot"></div>
                                <div class="typingIndicatorBubbleDot"></div>
                            </div>
                        </div>
                        <form name="chatForm" id="chatForm" (ngSubmit)="submitChat(submitChatForm)"
                            #submitChatForm="ngForm" novalidate class="form-wrapper" autocomplete="off">
                            <div class="chat-container">
                                <div class="chat-input-wrapper">
                                    <textarea id="message" name="message" class="chat-textarea" type="text"
                                        required="required" placeholder="Message " [(ngModel)]="commentObj.message"
                                        #message="ngModel"
                                        [ngClass]="{ 'is-invalid': submitChatForm.submitted && message.invalid }"
                                        cols="1" (keydown)="handleKeydown($event, submitChatForm)">
                                    </textarea>
                                </div>
                                <div class="submit-button-wrapper">
                                    <button class="send-btn" type="submit" [disabled]="!commentObj.message"
                                        (click)="handleKeydown($event, submitChatForm)">
                                        <span class="material-symbols-outlined">send</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div *ngIf="!selectedUser.user_id">
                    <p style="padding: 3rem 0; text-align: center;">
                        Welcome. Select user to get started
                    </p>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #noUsers>
    <div style="text-align: center; width: 100%; display: flex; justify-content: center; align-items: center; padding: 3rem 0; height: 50vh;">
        <p>No chat users found.</p>
    </div>
</ng-template>
<style>
    .chat-input-area {
        position: sticky;
        bottom: 0;
        width: 100%;
        padding: 1rem;
        background: #FFFFFF;
    }

    .chatProfileStrip {
        width: 100%;
        position: sticky;
        top: 0;
        background: white;
        border-bottom: 1px solid #DEDEDE;
        padding: 1rem;
    }

    .profileImg {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
    }

    .profileName {
        font-size: 24px;
        font-weight: 700px
    }

    .chat-user.active {
        background: var(--highlight-color);
    }
</style>