.side-menu {
    display: none;
    position: fixed;
    background-color: var(--white-color);
    width: fit-content;
    padding: 6rem 2.5%;
    z-index: 999;
}

.side-menu.active {
    display: block;
}

/* 18/3/2025 */
.popup {
    position: fixed;
    top: 9%;
    left: 85%;
    /* right: -4%; */
    transform: translateX(-50%);
    width: 400px;
    max-height: 320px;
    overflow-y: auto;
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 9999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-btn {
    cursor: pointer;
}

.popup-overlay-2 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9998;
    visibility: hidden;
    pointer-events: none;
    transition: all ease 0.1s;
    -moz-transition: all ease 0.1s;
    -webkit-transition: all ease 0.1s;
    -ms-transition: all ease 0.1s;
    -o-transition: all ease 0.1s;
}

.popup-overlay-2.visible {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
}

.notification-count {
    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
    background-color: red;

    display: flex;
    align-items: center;
    justify-content: center;
    top: -5%;
    right: 0%;
    border-radius: 50%;
}
.notification-count p {
    color: white;
    font-size: 12px;
}
.grey {
    color: gray !important;
}
.notificn-div {
    padding: 0.5rem;
}
.new-notification {
    padding: 0.5rem;
    background: aliceblue;
    border-radius: 4px;
}

@media only screen and (max-width: 767px) {
    .popup {
        top: 9%;
        left: unset;
        right: 5%;
        transform: unset;
        width: 90%;
        max-height: 320px;
        overflow-y: auto;
        background: white;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        z-index: 9999;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .notification-count p {
        font-size: 10px;
    }
}
